//- Renders map for relevant location and business targets

//extends layout.pug

block content
  h1 hello
  div#map
  script(type="module" src="/js/initMap.js")
  script(src=`https://maps.googleapis.com/maps/api/js?key=${mapAPI}&callback=initMap` async='' defer='')
