extends layout.pug

block content
  div(class="log-in-container")
    div(class="errors-container")
    h1 Log In
    form(class="log-in-form")
      .form-group
        input(type='email', name="email", placeholder='Enter email' class="form-control")
      .form-group
        input(type='password', name="password", placeholder='Password' class="form-control")
      div.button-container
        div
          button(type='submit' class="btn btn-primary" id="login-button") Log In
          a(href="/" class="ml-2") Cancel
        div
          button(type="submit" class="btn btn-light" id="demo-user") Demo User
      a(href='/sign-up') Don't have an account? Sign up here.
    div(class="image-container")
      img(src="/images/sign-up-image.jpg")
  script(type="module" src="/js/log-in.js")
  script(type="module" src="/js/navbar-search.js")