extends layout.pug

block content
  //include google-map.pug
  h1 Search Results
  .business-card-container
  script(type="module" src="/js/navbar-search.js")
  script(src=`https://maps.googleapis.com/maps/api/js?key=${mapAPI}&callback=initMap` async='' defer='')

