extends layout.pug

block content
  .search-page-container
    h1 Search Results
    .search-container
      .business-card-container
      #map.map-default.map-style.ml-2
  script(type="module" src="/js/navbar-search.js")
  script(type="module" src="/js/search.js")
  script(src=`https://maps.googleapis.com/maps/api/js?key=${mapAPI}&callback=initMap`)

